  <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu" style="">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading"> </div>
                            <a class="nav-link" href="{% url 'home' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                                   
                            
                            <div class="sb-sidenav-menu-heading">Admin</div>
                            <a class="nav-link" href="{% url 'admin:index' %}">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                                Admin Panel
                            </a>
                            <a class="nav-link" href="{% url 'add' %}">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></div>
                                Add Transaction
                            </a>
                            {% comment %} <a class="nav-link" href="{% url 'add_employee' %}">
                                <div class="sb-nav-link-icon"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
                                Add Employee
                            </a> {% endcomment %}
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        {% if user.is_authenticated %}
                        <div class="small">Logged in as: {{user.username}}</div>
                        {% else %}
                        Sobran 
                        {% endif %}
                    </div>
                </nav>
            </div>


<!--  Modal here -->

 
<!-- Add Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% include 'addForm.html' %}
      </div>
    
    </div>
  </div>
</div>

 