{% extends 'base.html' %}
{% block content %}
<form action="{% url 'add' %}" method="post">
    {% csrf_token %}
    <div class="mb-3"> 
        {{ form.as_p }}  
        <div class="form-group" style="width:25%;">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" class="form-control" required>
        </div> 
        {% comment %} <div class="form-group" >
            <label for="time">Time Arrived:</label>
            <input type="text" id="time" name="time" class="form-control">
        </div> {% endcomment %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock content %}