{% extends 'base.html' %} 

{% block content %}
       <style>
    @media screen and (min-width: 600px) {
    #time-section {
         
        width: 40%;
    }
    }
</style>
          
              <div class="w-25 p-3">



            
              </div>
               
<div id="time-section" class="m-auto p-5">


            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                 <input type="time" name="yellow_start" id="yellow_start" value="{{yellow_start}}" class="btn btn-warning" required />
                 <br>
                 <br>
                 <input type="time" name="red_start" id="red_start" value="{{red_start}}" class="btn btn-danger" required/>
                 <button name="form_submit" class="btn btn-primary">Set Time</button>
            </form>

 
<form action="" method="post" class="justify-content-end" id="form2">
    {% csrf_token %}
  <div class="col-auto">
    <label for="date_value">Change Date:</label>
     <input type="date" id="date_value" name="date_value" class="form-control" value="{{default_yellow}}" required>
  </div>
 
  <div class="col-auto">
    <input type="submit" name="form2_submit" class="btn btn-secondary">
  </div>
</form>




 


 </div>
 
      <div class="card mb-4"> 
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Transactions for {{date}}
                                
                            </div>
                            
                            <form class="form form-inline" action="">

                            <div class="card-body">
                                
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Date</th>
                                            <th>Time Arrived</th>
                                            <th>Time diff</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Time Arrived</th>
                                            <th>Time diff</th> 
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                               
                                    <tbody>
                                        {% for x in sout %}
                                        <tr>
                                            <td><a href="{% url 'view_transaction' x.co_id_key %}">{{x.co_fk_em_id_key.em_name}}</a> </td> 
                                            <td>{{x.co_fk_type_id_key}}</td> 
                                            <td>{{x.co_date}}</td>


                                            {% if x.co_time_arrived == None %} 
                                            <td></td>
                                            <td></td>
                                            {% else %}
                                            <td>{{x.co_time_arrived}}</td>  
                                            <td>{{x.co_time_dif}}</td> 
                                            {% endif %}

                                            <td><a href="{% url 'update_so_outs' x.co_id_key  %}"><i class="fa fa-pen"></i></a></td>
                                            <td><a href="{% url 'delete_so_out' x.co_id_key %}" style="color:red"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>



                        <script>
                            document.getElementById('date_value').addEventListener('change', function () {
                                var dateValue = this.value; // get the new value of the date field

                                // send an AJAX request to your Django view
                                $.ajax({
                                    url: "{% url 'home' %}",
                                    type: 'POST',
                                    data: { 'date_value': dateValue },
                                     beforeSend: function (xhr, settings) {
                                        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                                    },
                                    success: function (response) {
                                        // update your HTML with the new data
                                    },
                                    error: function (response) {
                                        console.log('Error:', response);
                                    }
                                    
                                });
                            });
                        </script>
  
{% comment %} <script>
    // Get the input element
var myTimeField = document.getElementById("my-time-field-1");

// Set the default value to 12:00 PM
myTimeField.value = "12:00";
</script>
                         {% endcomment %}
{% endblock content %}


