{% extends 'base.html' %} 

{% block content %}
       
          
              <div class="w-25 p-3">



            
              </div>
                 <div class="w-25 p-3">


            <form action="" method="post" class="justify-content-end">
                {% csrf_token %}
          
             
                <select class="form-select btn btn-danger btn-sm mb-2" name="red_dropdown" aria-label="Default select example">
                <option selected>{{default_yellow}}</option>
                {% for x in times_red %}
                <option value="{{x}}">{{x}}</option>
                {% endfor %}
                </select>
                       <select class="form-select btn btn-warning btn-sm mb-2" name="yellow_dropdown" aria-label="Default select example">
                <option selected>{{default_red}}</option>
                {% for x in times_yellow %}
                <option value="{{x}}">{{x}}</option>
                {% endfor %}
                </select>
                  <div class="form-group">
                    <label for="birthday">Change Date:</label>
                    <input type="date" id="date_value" name="date_value" class="form-control">
                  </div> 
                  <input type="submit" class="btn btn-secondary">
            </form>


</div>
      <div class="card mb-4"> 
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Transactions for {{date}}
                                
                            </div>
                            
                            <form class="form form-inline" action="">

                            <div class="card-body">
                                
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Date</th>
                                            <th>Time Arrived</th>
                                            <th>Time diff</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Date</th>
                                            <th>Time Arrived</th>
                                            <th>Time diff</th> 
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                               
                                    <tbody>
                                        {% for x in sout %}
                                        <tr>
                                            <td><a href="{% url 'view_transaction' x.co_id_key %}">{{x.co_fk_em_id_key.em_name}}</a> </td> 
                                            <td>{{x.co_fk_type_id_key}}</td> 
                                            <td>{{x.co_date}}</td>


                                            {% if x.co_time_arrived == None %} 
                                            <td>No time (Vacation)</td>
                                            <td>No time (Vacation)</td>
                                            {% else %}
                                            <td>{{x.co_time_arrived}}</td>  
                                            <td>{{x.co_time_dif}}</td> 
                                            {% endif %}

                                            <td><a href="{% url 'update_so_outs' x.co_id_key  %}"><i class="fa fa-pen"></i></a></td>
                                            <td><a href="{% url 'delete_so_out' x.co_id_key %}" style="color:red"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>



                        <script>
                            document.getElementById('date_value').addEventListener('change', function () {
                                var dateValue = this.value; // get the new value of the date field

                                // send an AJAX request to your Django view
                                $.ajax({
                                    url: "{% url 'home' %}",
                                    type: 'POST',
                                    data: { 'date_value': dateValue },
                                     beforeSend: function (xhr, settings) {
                                        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                                    },
                                    success: function (response) {
                                        // update your HTML with the new data
                                    },
                                    error: function (response) {
                                        console.log('Error:', response);
                                    }
                                    
                                });
                            });
                        </script>
  
{% endblock content %}


