{% extends 'base.html' %} 

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">

        {{form.as_p}}
         <div class="form-group" style="width:25%;">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" class="form-control" required>
        </div>
      <input type="time" name="time" value="{{time_value}}" />
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  window.onload = function() {
    var form = document.querySelector('form');
    var dateField = document.getElementById("date");
    dateField.removeAttribute("readonly");
    dateField.defaultValue = new Date().toISOString().slice(0, 10);

    form.addEventListener("submit", function(event) {
      dateField.defaultValue = dateField.value;
    });
  };
</script>

{% endblock %}
 